<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>layout</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<style>
  hr{
height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
</style>
</head>


<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav navbar-right">
		
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-star" id="starry"></span>
                &nbsp;Home
              </a>
            </li>

            <li>
              <a href="/write">
                <span class="glyphicon glyphicon-plus"></span>
                &nbsp;Write
              </a>
            </li>
            {% if not session.logged_in %}
            <li>
              <a href="/login">
                <span class="glyphicon glyphicon-heart"></span>
                &nbsp;Login
              </a>
            </li>
            
           
            <li class="dropdown">
              <a href="/signup" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-stats"></span>
                &nbsp;Sign up <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="implement this">Raw Data</a>
                </li>
                <li>
                  <a href="implement this">Graphs</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="implement this">Email Report</a>
                </li>
              </ul>
            </li>
            {% endif %}
             {% if session.logged_in %}
            <li class="dropdown active">
             
              <a href="{{ url_for('timeline',wall_id=session['user_id']) }}" data-toggle="dropdown">
          
                <span class="glyphicon glyphicon-user"></span>
                &nbsp;
                        Timeline <b class="caret"></b>
              </a>
              
            </li>
            {% endif %}

             {% if session.logged_in %}
            <li class="dropdown active">
             
              <a href="{{ url_for('logout') }}" data-toggle="dropdown">
          
                <span class="glyphicon glyphicon-ban-circle"></span>
                &nbsp;
                        Logout <b class="caret"></b>
              </a>
              
            </li>
            {% endif %}

            {% if session.logged_in %}
            <li class="dropdown active">
             
              <a href="{{ url_for('edit_profile',user_id=session['user_id']) }}" data-toggle="dropdown">
          
                <span class="glyphicon glyphicon-ban-circle"></span>
                &nbsp;
                        My page <b class="caret"></b>
              </a>
              
            </li>
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse --> </div>
      <!-- /.container --> </nav>

<br>
<br>
<br>
<br>
<hr>
{% if session %}
<p>welcome! {{session.email}}</p>
{% endif %}


{% block body %}{% endblock %}
</html>