{% extends "layout.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<style>
body {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

img {
  height: auto;
  width: 100%;
}

section {

margin-top: 30px;
margin-left: 100px;
padding: 30px 60px;
}

.form-inline{

margin: auto;

}
</style>
<br>
{% if post %}
<div class="col-md-6 col-md-offset-3 panel panel-primary">
  <div class="col-md-4 panel-heading">
       {{post.user.username}}
  <br>
  </div>
  {% if not session.username==post.user.username %}
  <a href="{{ url_for('delete_post',pid=post.id) }}">
  <span class="glyphicon glyphicon-remove"></span>
  </a>
  {% endif %}
    <div class="col-md-8 panel-body">
     {{post.body}}
  </div>
</div>
<br><br>
{% endif %}
<section>
  {% for comment in comments %}
    <div class='friend'>

        <h3>{{comment.user.username}}</h3>
          <span class="glyphicon glyphicon-ok"></span>
          <span class="glyphicon glyphicon-remove"></span>
        <p>{{comment.body}}</p>
    </div>
  {% endfor %}
    <br>
  <form class="form-inline" role="form" method="post" action="{{ url_for('read',pid=session['pid'],wall_id=session['wall_id']) }}">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">comment</label>
    <input type="text" name="comments" class="form-control" id="exampleInputEmail2" placeholder="your comment" size="30">
  </div>
 <button type="submit" class="btn btn-default">go</button>
</form>

</section>



{% endblock %}