{% extends "layout.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
{% if session %}
<h1 class="text-center">user id : {{session.wall_id}}' s wall</h1>

{% endif %}
<br>

<div class="col-md-6 col-md-offset-3 panel panel-primary">
  <div class="col-md-4 panel-heading">
      혜리
  <br>
  </div>
  <span class="col-xs-1 glyphicon glyphicon-ok"></span>
  <span class="glyphicon glyphicon-remove"></span>
    <div class="col-md-8 panel-body">
      와우우우우우우우우!!ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ
  </div>
</div>

<div class="col-md-6 col-md-offset-3 panel panel-primary">
  <div class="col-md-4 panel-heading">
      재희
  <br>
  </div>
  <span class="col-xs-1 glyphicon glyphicon-ok"></span>
  <span class="glyphicon glyphicon-remove"></span>
    <div class="col-md-8 panel-body">
     널 때릴거다
    </div>
</div>

{% endblock %}