{% extends "layout.html" %}
{% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/timeline.js') }}"></script>
<style>
  #write{

    margin: auto;
  }

</style>

{% if session %}
<h1 class="text-center">{{session.user_name}}' s wall</h1>

{% endif %}
<br>
<br>
<div id="write">
<a href="{{ url_for('write') }}"><input id="button" type="submit" value="write"></a>
<br>      
</a>
<br>      
<br>
<div id="show">
</div>
 {% endblock %}